name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Checker
      id: checker
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Checker
        setup-command: "./setup.sh"
        command: gradle test
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CHECKER_RESULTS: "${{steps.checker.outputs.result}}"
      with:
        runners: checker
